name: Publish API Documentation

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish-apidocs:
    name: Publish API Documentation
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-java@v5
        with:
          java-version: 24
          distribution: temurin
          cache: maven
      - run: $MVN install
        working-directory: bom
      - run: $MVN install -Dquickly
      - run: $MVN depgraph:aggregate
      - run: |
          $MVN org.apache.maven.plugins:maven-antrun-plugin:run@copy-doc-files
          $MVN org.apache.maven.plugins:maven-antrun-plugin:run@copy-sources
          $MVN org.apache.maven.plugins:maven-antrun-plugin:run@copy-demos
          $MVN javadoc:javadoc
        working-directory: apidoc
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: ./apidoc/target/reports/apidocs
          target-folder: apidocs
          clean: true
