name: Release Elemento

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy-bom:
    name: Deploy BOM
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - run: $MVN package
        working-directory: bom
      - uses: actions/setup-java@v5
        with: # running setup-java again overwrites the settings.xml
          java-version: 21
          distribution: temurin
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - run: $MVN deploy -P release
        working-directory: bom
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

  deploy-elemento:
    name: Deploy Maven Artifacts
    runs-on: ubuntu-latest
    needs: deploy-bom
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - run: $MVN package
      - uses: actions/setup-java@v5
        with: # running setup-java again overwrites the settings.xml
          java-version: 21
          distribution: temurin
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - run: $MVN deploy -P release
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_PASSWORD: ${{ secrets.CENTRAL_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

  publish-apidoc:
    name: Publish API Documentation
    runs-on: ubuntu-latest
    needs: deploy-elemento
    env:
      MVN: ./mvnw --show-version --batch-mode
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - run: $MVN install
        working-directory: bom
      - run: $MVN -Dquickly install
      - run: |
          mvn org.apache.maven.plugins:maven-antrun-plugin:run@copy-sources
          mvn org.apache.maven.plugins:maven-antrun-plugin:run@copy-demos
          mvn javadoc:javadoc
        working-directory: apidoc
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: ./apidoc/target/reports/apidocs
          target-folder: apidocs
          clean: true

  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: deploy-elemento
    steps:
      - name: Get Version
        id: get-version
        uses: battila7/get-version-action@v2.3.0
      - uses: actions/checkout@v6
      - name: Read Changelog
        id: read-changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          path: ./CHANGELOG.md
          version: ${{ steps.get-version.outputs.version-without-v }}
      - uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get-version.outputs.version }}
          release_name: Elemento ${{ steps.get-version.outputs.version-without-v }}
          body: ${{ steps.read-changelog.outputs.changes }}
          draft: false
          prerelease: false
