name: Publish Samples

on:
  workflow_dispatch:

jobs:
  publish-samples:
    name: Publish Samples
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: maven
      - run: $MVN install
        working-directory: bom
      - run: $MVN install
      - run: $MVN -Denvironment.base=/elemento/samples/music -P prod install
        working-directory: samples
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: ./samples/dist/target/samples
          target-folder: samples
          clean: true
